<h1>All Shelters<h1>
<% @shelters.each do |shelter| %>
  <p>
    <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %>
    <%= link_to "Edit Shelter", "/shelters/#{shelter.id}/edit" %>
    <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>
  </p>
<% end %>
<%= link_to 'New Shelter', '/shelters/new' %>
