<header><h2 class='page-title'> <%= "Pending Applications for #{@pet_applications[0].pet.name}" %></h2></header>

<% @pet_applications.each do |pet_application| %>
  <%= link_to "#{pet_application.application.name}", "/applications/#{pet_application.id}" %>
<% end %>
