<header><h2 class='page-title'> <%= "Pending Applications for #{@pet.name}" %></h2></header>

<% if @pet_applications.empty? %>
  <%= 'As of yet there are no applications pending for this pet' %>
  <% else %>
  <% @pet_applications.each do |pet_application| %>
    <%= link_to "#{pet_application.application.name}", "/applications/#{pet_application.id}" %>
  <% end %>
<% end %>
